/* CSS Document */

/* ************* */
/* Snel koppelen */
/* ************* */


/* CSS REMEDY */
/* CUSTOM PROPERTIES */
/* CUSTOM PROPERTIES light mode */
/* ************ body ************** */
/* ************ melk golf ************** */
/* ************ OREO TEKST (H1) ************** */
/* ************ Linker koekje ************** */
/* ************ Rechter koekje ************** */
/* ************ OREO letters (span) ************** */
/* ************ eerste border ************** */
/* ************ tweede border ************** */
/* ************ R animatie ************** */
/* ************ E animatie ************** */
/* ************ O's animatie ************** */
/* ************ eerste O borders animatie ************** */
/* ************ tweede O borders animatie ************** */


/* ***************************************************** */


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}








/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--koekie-size: 10vw;
	--koekie-foto:url("../images/oreo-cookie-choco.png");
	--koekie-foto-2:url("../images/oreo-cookie-choco2.png");

	--color-text:#ffffff;
	--color-background: #1e469b ;
	--color-first-border:#1e469b;
	--color-second-border:#94d7f2;
	--color-melk: white;
}

/* CUSTOM PROPERTIES light mode */
/* Ik heb light gebruikt, omdat de kleuren van het merk passen met de dark mode better dan de light mode */
@media (prefers-color-scheme: Light){
:root {
	--koekie-foto:url("../images/oreo-cookie-melk.png");
	--koekie-foto-2:url("../images/oreo-cookie-melk2.png");

	--color-background: #c0c0c0 ;
	--color-melk: rgb(85, 35, 0);
	}
}






/* ************ body ************** */
body {
  font-family: 'Luckiest Guy', cursive;

  color:var(--color-text);
  background-color:var(--color-background);
  margin: 0;
  overflow: hidden;
}






/* ************ melk golf ************** */
body::after{
	content:"";
	display: block;
	width: 110%;
	height: 20%;
	background-color: var(--color-melk);
	position: absolute;
	bottom: -2em;
	left: -1.5em;
	z-index: 4;

	animation-name: melk-golf;
	animation-duration: 3s;
	animation-delay: -1s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

@keyframes melk-golf{
	0%{
		/* left */
		border-radius: 10% 90% 0% 10% / 52% 74% 0% 0% ; 
	}
	25%{
		/* center */
		border-radius: 49% 51% 0% 10% / 52% 74% 0% 0% ;
	}
	50%{
		/* right */
		border-radius: 83% 17% 0% 10% / 52% 74% 0% 0% ;
	}
	75%{
		/* center */
		border-radius: 49% 51% 0% 10% / 52% 74% 0% 0% ;
	}
	100%{
		/* left */
		border-radius: 10% 90% 0% 10% / 52% 74% 0% 0% ;
	}
}






/* ************ OREO TEKST (H1) ************** */
h1{
	margin: auto ;
	position: relative;
	top: 5em;
	display: flex;

	width: fit-content;
	height: fit-content;

	cursor: pointer;

	transform-origin: center;
	animation-name: draaien;
	animation-duration: .6s;
	animation-delay: 6s;
	animation-iteration-count:1;
	animation-timing-function:ease-in;
	animation-fill-mode: both;
}

@keyframes draaien {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-20deg);
	}
}






/* ************ Linker koekje ************** */
h1::before{
	content: "";
	width: var(--koekie-size);
	height: var(--koekie-size);
	background: var(--koekie-foto) no-repeat;
	background-size: var(--koekie-size);
	position: absolute;
	top:calc(50% - var(--koekie-size) / 2);
	z-index: 2;


	animation-name: rollend, omgekeerde-rol, vallen;
	animation-duration: 3s, 1.5s, 1s;
	animation-delay: 0s,3s , 4.5s;
	animation-iteration-count:1;
	animation-timing-function:ease-in, ease-in-out, ease-out;
	animation-fill-mode: backwards, none, forwards;
}

@keyframes rollend {
	0%{
		left: calc(-50vw + var(--koekie-size) / 2);
		transform: rotate(-360deg);
	}
	100%{
		left: calc(50% - var(--koekie-size) / 2);
	}
}

@keyframes omgekeerde-rol {
	0%{
		left: calc(50% - var(--koekie-size) / 2);
	}
	50%{
		left: calc(50% - var(--koekie-size) / 2);
		transform: rotate(360deg);
	}
	100%{
		left: -.5em;
		transform: rotate(0deg);
	}
}

@keyframes vallen{
	0%{
		left: -.5em;
	}
	50%{
		top: 110%;
		left: calc(50% - var(--koekie-size) / 2);
	}
	100%{
		top: 100vh;
		left: calc(50% - var(--koekie-size) / 2);
	}
}






/* ************ Rechter koekje ************** */
h1::after{
	content: "";
	width: var(--koekie-size);
	height: var(--koekie-size);
	background: var(--koekie-foto-2) no-repeat;
	background-size: var(--koekie-size);
	position: absolute;
	top:calc(50% - var(--koekie-size) / 2);
	z-index: 1;

	animation-name: rollend2, omgekeerde-rol2, vallen2;
	animation-duration: 3s, 1.5s, 1s;
	animation-delay: 0s,3s , 4.5s;
	animation-iteration-count:1;
	animation-timing-function:ease-in, ease-in-out, ease-out;
	animation-fill-mode: backwards,none,forwards;
}

@keyframes rollend2 {
	0%{
		right: calc(77vw - var(--koekie-size) / 2) ;
		transform: rotate(-360deg);
	}
	100%{
		right: calc(50% - var(--koekie-size) / 2);;
	}
}

@keyframes omgekeerde-rol2 {
	0%{
		right: calc(50% - var(--koekie-size) / 2);;
	}
	50%{
		right: calc(50% - var(--koekie-size) / 2);;
		transform: rotate(360deg);
	}
	100%{
		right: -.5em;
		transform: rotate(0deg);
	}
}

@keyframes vallen2{
	0%{
		right: -.5em;
	}
	50%{
		top: 110%;
		right: calc(50% - var(--koekie-size) / 2);
	}
	100%{
		top: 100vh;
		right: calc(50% - var(--koekie-size) / 2);
	}
}





/* ************ OREO letters (span) ************** */
h1 span{
	margin: 0;
	padding: 0;
	width: fit-content;
	height: fit-content;

	font-size: 10vw;
	letter-spacing: .25em;
}

	/* O letters font size veranderen */
h1 span:first-of-type,
h1 span:last-of-type{
	font-size: 12vw;
}






/* ************ eerste border ************** */
h1 span:first-of-type::before,
h1 span:nth-of-type(2)::before,
h1 span:nth-of-type(3)::before,
h1 span:last-of-type::before{
	content:attr(data-info);
	position:absolute;
	left:0;
	-webkit-text-stroke: .3em var(--color-second-border);
	z-index:-2;
}






/* ************ tweede border ************** */
h1 span:first-of-type::after,
h1 span:nth-of-type(2)::after,
h1 span:nth-of-type(3)::after,
h1 span:last-of-type::after{
	content:attr(data-info);
	position:absolute;
	left:0;
	-webkit-text-stroke: .15em var(--color-first-border);
	z-index:-1;
}






/* ************ R animatie ************** */
h1 span:nth-of-type(2){
	transform-origin: right;
	
	animation-name: R-rekken;
	animation-duration: .6s;
	animation-delay: 4.2s;
	animation-iteration-count:1;
	animation-fill-mode: both;
}

@keyframes R-rekken {
	0%{
		transform: scaleX(0);
	}
	100%{
		transform: scaleX(1);
	}
}






/* ************ E animatie ************** */
h1 span:nth-of-type(3){
	position: relative;
	z-index: -2;
	animation-name: E-rekken, movetop;
	animation-duration: .6s, 1s;
	animation-delay: 4.2s, 5.9s;
	animation-iteration-count:1;
	animation-fill-mode: both,both;
	transform-origin: left center;
}

@keyframes E-rekken {
	0%{
		transform: scaleX(0);
	}
	100%{
		transform: scaleX(1);
	}
}

@keyframes movetop{
	0%{
		bottom: 0em;
	}
	100%{
		bottom: .15em;
	}
}






/* ************ O's animatie ************** */
/* eerste O */
h1 span:first-of-type{
	position: relative;
	z-index: 0;

	animation-name: verschijnen;
	animation-duration: 1s;
	animation-delay: 5s;
	animation-iteration-count:1;
	animation-fill-mode: both;
}

/* tweede O */
h1 span:last-of-type{
	position: relative;

	animation-name: verschijnen, o-movetop;
	animation-duration: 1s, 1s;
	animation-delay: 5s, 5.9s;
	animation-iteration-count:1;
	animation-fill-mode: both, both ;
}

@keyframes verschijnen{
	0%{
		color: transparent;
	}
	100%{
		color: var(--color-text);
	}
}

@keyframes o-movetop{
	0%{
		bottom: 0em;
	}
	100%{
		bottom: .2em;
	}
}






/* ************ eerste O borders animatie ************** */
h1 span:first-of-type::before{
	animation-name: secondborder-verschijnen;
	animation-duration: 1s;
	animation-delay:5.1s;
	animation-iteration-count:1;
	animation-timing-function:linear;
	animation-fill-mode: both;
}

h1 span:first-of-type::after{
	animation-name: firstborder-verschijnen;
	animation-duration: 1s;
	animation-delay: 5.1s;
	animation-iteration-count:1;
	animation-timing-function:linear;
	animation-fill-mode: both;
}


/* ************ tweede O borders animatie ************** */
h1 span:last-of-type::before{
	animation-name: secondborder-verschijnen, o-border-movetop ;
	animation-duration: 1s, 1s;
	animation-delay: 5.1s, 5.9s;
	animation-iteration-count:1;
	animation-timing-function: linear, linear;
	animation-fill-mode: both, both;
}

h1 span:last-of-type::after{
	animation-name: firstborder-verschijnen;
	animation-duration: 1s;
	animation-delay: 5.1s;
	animation-iteration-count:1;
	animation-timing-function:linear;
	animation-fill-mode: both;
}

@keyframes o-border-movetop{
	0%{
		bottom: 0em;
	}
	100%{
		bottom: 0em;
	}
}

@keyframes secondborder-verschijnen{
	0%{
		-webkit-text-stroke: 0em var(--color-second-border);
	}
	100%{
		-webkit-text-stroke: .32em var(--color-second-border);
	}
}

@keyframes firstborder-verschijnen{
	0%{
		-webkit-text-stroke: 0em var(--color-first-border);
	}
	100%{
		-webkit-text-stroke: .15em var(--color-first-border);
	}
}

